<!DOCTYPE html>
<html>
    <head>
        <title>Take Quiz</title>
    </head>
    <body>
        <h1>{{ quiz[1] }}</h1>
        <form method="POST">
        {% for question in questions %}
        <h2>{{ question[2] }}</h2>
        <p><input type="radio" name="question_{{ question[0] }}" value="A"> A. {{ question[3] }}</p>
        <p><input type="radio" name="question_{{ question[0] }}" value="B"> B. {{ question[4] }}</p>
        <p><input type="radio" name="question_{{ question[0] }}" value="C"> C. {{ question[5] }}</p>
        <p><input type="radio" name="question_{{ question[0] }}" value="D"> D. {{ question[6] }}</p>
        {% endfor %}
        <button>Submit Quiz</button>
        </form>
    </body>
</html>