<!DOCTYPE html>
<html>
    <head>
        <title>{{ quiz[1] }}</title>
    </head>
    <body>
        <h1>{{ quiz[1] }}</h1>
        <a href="/quiz/{{ quiz[0] }}/edit">Edit Quiz Name</a>
        <form method="POST" 
        action="/quiz/{{ quiz[0] }}/delete" 
        onsubmit="return confirm('Are you sure you want to delete this quiz?')">
            <button type="submit">Delete Quiz</button>
        </form>
        {% for question in questions %}
        <h2>{{ question[2] }}</h2>
        <p>A. {{ question[3] }}</p>
        <p>B. {{ question[4] }}</p>
        <p>C. {{ question[5] }}</p>
        <p>D. {{ question[6] }}</p>
        <a href="/quiz/{{ quiz[0] }}/question/{{ question[0] }}/edit">Edit Question</a>
        <form method="POST" 
        action="/quiz/{{ quiz[0] }}/question/{{ question[0] }}/delete" 
        onsubmit="return confirm('Are you sure you want to delete this question?')">
            <button type="submit">Delete Question</button>
        </form>
        {% endfor %}
        <a href="/quiz/{{ quiz[0] }}/add-question">Add Question</a>
        <a href="/quiz/{{ quiz[0] }}/take-quiz">Take Quiz</a>
    </body>
</html>